<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} 
    <link rel='stylesheet' href='{% static "polls/polls.css" %}' type='text/css' /> 
    <title>{% block title %}My site{% endblock %}</title>
</head>

<body>
    <nav id="navbar">
        {% block navbar %}
            <a href='https://djangoproject.com'>Django Docs</a> |
            <a href='https://djangogirls.orgs'>Django Tutorials</a> |
            <a href='https://www.w3schools.com/Css/'>CSS Tutorial</a>
        {% endblock %}
    </nav>

    <article id="content">
        {% block content %}{% endblock %}
    </article>
    <footer>
        &copy;2020 read our <span id='unique'>legal notice</span>
    </footer>
</body>
</html>