<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- we can interpolate values - careful, Django works INSIDE comments -->
    <title>Details for Question {{question.id}}</title>
    {% load static %} 
    <link rel='stylesheet' href='{% static "polls/polls.css" %}' type='text/css' />
</head>
<body>
    <h2>Details for Question {{ question.id }}</h2>
    <p>{{ question.question_text }}</p>
    <nav>
        <a href='/polls/'>Home</a>
    </nav>
    <section>
        <!-- it's a good idea to have somewhere to show error messages -->
        {% if error_message %}
            <aside>
                <p><strong class='highlight'>{{ error_message}}</strong></p>
            </aside>
        {% endif %}

        <!-- we can declare a form for the user to place their vote -->
        <form action='{% url "polls:vote" question.id %}' method="POST">
            <!-- we must protect against cross-site request forgeries -->
            {% csrf_token %}
        <!-- iterate over the choices -->
            {% for choice in question.choice_set.all %}
                <input type="radio" name='choice' 
                    id='choice{{forloop.counter}}'
                    value='{{choice.id}}' /> {{ choice.choice_text }}
            {% endfor %}
        <!-- forms need some way to be sumbitted -->
        <input type='submit' value='Vote' />
        </form>
    </section>
</body>
</html>