<!-- type ! then press tab to get a default web page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Polls App Home Page</title>
    <!-- we can link to style sheets -->
    <!-- load static enables us to use static assets in this template -->
    {% load static %} 
    <link rel='stylesheet' href='{% static "polls/polls.css" %}' type='text/css' />
</head>

<body>
    <!-- we could use div, but better to use article etc. i.e. semantic tags -->
    <header>
        <h1 class='highlight'>Django Tutorial</h1>
    </header>
    <nav>
        <a href='https://djangoproject.com'>Django Docs</a> |
        <a href='https://djangogirls.orgs'>Django Tutorials</a> |
        <a href='https://www.w3schools.com/Css/'>CSS Tutorial</a> |
        <a href='weather/'>Review Exercise Solutions</a> |
        <a href='child/'>A Child View (using template inheritance)</a>
    </nav>
    <article>
        <!-- our Django template content goes here (using interpolation)  -->
        {% if latest_question_list %}
        <ul>
            <!-- here we iterate over the model data -->
            {% for question in latest_question_list %}
            <!-- we can use the 'a' tag to make hyperlinks -->
            <!-- NB we can use 'url' to derive the exact URL and avoid hard coding it -->
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <h3>There are no questions yet</h3>
        {% endif  %}
    </article>
    <aside>
        <button id='btnCookies'>Agree to cookies</button>
        <br/>
        <img id='my_image' src='http://placekitten.com/240/120' />
        <br/>
        w: <input type='range' min='12' max='640' step='10' id='width' />
        <br/>
        h: <input type='range' min='12' max='640' step='10' id='height' />
    </aside>
    <footer>
        &copy;2020 read our <span id='unique'>legal notice</span>
    </footer>
</body>
<!-- we can declare a script -->
<script>
// JavaScript is the ONLY client-side code we EVER write
// code to control the image
let my_image = document.getElementById('my_image')
let width = document.getElementById('width')
let height = document.getElementById('height')

const adjustImage = ()=>{ // similar to old-skool function adjustImage(){}
    new_w = width.value
    new_h = height.value
    new_src = `http://placekitten.com/${new_w}/${new_h}` // string interpolation
    // console.log(new_src)
    my_image.setAttribute('src', new_src)
} 
width.addEventListener('change', adjustImage)
height.addEventListener('change', adjustImage)


// we can access any data from Django
// but ONLY at the point it is injected into the page
// i.e. at page creation
// (there is no Python or Django running in a browser!)
let latest_list = "{{latest_question_list}}" // quotes since it is serialized
console.log(latest_list)


// declare functions
const handleClick = ()=>{ // modern JavaScript functions use 'arrow' syntax
    event.target.removeEventListener('click', handleClick) // first remove any event listeners
    event.target.setAttribute('style', 'display:none')
}

// we can handle cookie permission
btn = document.getElementById('btnCookies')
btn.addEventListener('click', handleClick)

// we can 'poll' or 'heartbeat' to auto-submit fresh data points
// use setInterval
const newData = ()=>{ // 'latest' is accesing the Django data injected into the page
    console.log( new Date() ) // Date() is a timestamp
}
//          function TO CALL, not the actual call
// setInterval(newData, 1000) // 1000 milliseconds

</script>
</html>
