<!-- type ! then press tab to get a default web page -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Polls App Home Page</title>
    <!-- we can link to style sheets -->
    <link href="polls/templates/polls/styles/polls.css" type="text/css" />
    <style>
        /* tag styles */
        footer {
            background-color: black;
            color: antiquewhite;
            font-family: 'Courier New', Courier, monospace;
        }
        body {font-size: larger;}

        /* class styles */
        .highlight {background-color: yellow;}
        /* id styles */
    </style>
</head>

<body>
    <!-- we could use div, but better to use article etc. i.e. semantic tags -->
    <header>
        <h1 class='highlight'>Django Tutorial</h1>
    </header>
    <nav>
        <a href='https://djangoproject.com'>Django Docs</a> |
        <a href='https://djangogirls.orgs'>Django Tutorials</a> |
        <a href='https://www.w3schools.com/Css/'>CSS Tutorial</a>
    </nav>
    <article>
        <!-- our Django template content goes here (using interpolation)  -->
        {% if latest_question_list %}
        <ul>
            <!-- here we iterate over the model data -->
            {% for question in latest_question_list %}
            <!-- we can use the 'a' tag to make hyperlinks -->
            <!-- NB we can use 'url' to derive the exact URL and avoid hard coding it -->
            <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <h3>There are no questions yet</h3>
        {% endif  %}
    </article>
    <footer>
        &copy;2020 read our legal notice
    </footer>
</body>

</html>